.content-wrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 20px;
}

.background img{
    width: 100%;
    height: 580px;
}

.form-content form{
    margin: auto;
    width: 650px;
    margin-top: -20px;
}

.form-content form .names, .form-content form .contact{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.form-content form .names .mat-form-field, 
.form-content form .contact .mat-form-field{
    width: 19.9rem;
    margin-bottom: .1rem;
    font-size: 15px;
}

.form-content form .plumber, .form-content form .issues,
.form-content form .message{
    display: grid;
    grid-template-columns: 100%;
}

.content-wrapper form .submit_btn{
    display: grid;
    grid-template-columns: 100%;
}

.content-wrapper form .submit_btn button{
    color: white;
    font-size: 1.25rem;
    border: 1px solid #66C0FF;
    border-radius: 4px;
    background-color: #66C0FF;
    padding: 10px 0 10px 0;
}