<div class="hide-foot" [ngClass]="footerRoute('/register') || footerRoute('/login') ? 'hide' : 'show'">
  <div class="nav">
    <div class="nav-general">
      <img src="/assets/images/trinity-logo-mod.png" alt="">
      <div class="nav-content">
        <a href=""><span>About us</span></a>
        <a href=""><span>Services</span></a>
        <a href=""><span>Supplies</span></a>
        <a href=""><span>Plumbers</span></a>
        <a href=""><span>Contact us</span></a>
      </div>
      <div class="nav-register">
        <span [matMenuTriggerFor]="menu3"><img src="/assets/images/user.png" alt="login">Trinity</span>
        <mat-menu class="register-menu" #menu3="matMenu">
          <div class="register-details">
            <h2>Sign up with Trinity</h2>
            <p>Join to recieve Discounts, offers and much more</p>
            <a><span>Why join?</span></a>
            <a><span>Trinity Forum</span></a>
            <a><span>Earning Points</span></a>
          </div>
          <div class="register-btn">
            <button [routerLink]="['/register']" mat-button>Register</button>

            <a *ngIf="!authenticated" [routerLink]="['/login']"><span>Login<mat-icon>arrow_right</mat-icon>
              </span></a>
            <span *ngIf="authenticated">
              <a [ngStyle]="{'cursor': 'pointer'}" (click)="logOut()"><span>Log Out</span></a>
            </span>
          </div>
        </mat-menu>
        <span [routerLink]="['/chart']"><img src="/assets/images/cart.png" alt="login">Cart</span>
      </div>
    </div>
    <div class="moto">
      <div class="moto-heading">
        <h1>Ouality</h1>
        <h2>is Our Specialty</h2>

      </div>


      <div class="sign">
        <div class="sign-image">
          <img src="/assets/images/user2.png" alt="">
        </div>
        <div [routerLink]="['/register']" class="sign-content">
          <span>Sign in/Sign up</span>
          <span class="bor">Free Trial for first time</span>
        </div>

        <div class="contact">
          <div class="contact-image">
            <img src="/assets/images/phone.png" alt="">
          </div>
          <div class="contact-content">
            <span>Call us Today</span>
            <span class="bor">876-842-7851</span>
          </div>
        </div>

        <div class="location">
          <div class="location-image">
            <img src="/assets/images/location.png" alt="">
          </div>
          <div class="location-content">
            <span>Find us at</span>
            <span class="bor">23 windows Ave</span>
          </div>
        </div>

      </div>

    </div>
  </div>