<div class="home">
  <div class="home-background">
    <div class="overlay"></div>
    <div class="home-heading">
      <div>
        <h2 class="primary"><span class="cl1">Delivering</span> Elite</h2>
        <h2 class="secondary">Plumbing <span class="cl1">Services</span></h2>
        <p>for businesses and households</p>
        <div class="home-btn">
          <button class="btn1">Order Now</button>
          <button class="btn2">Our Services</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="content">
    <h2>About Us</h2>
    <p>
      Trinity Plumbing and supplies establish in 1984 is an upcoming plumbing
      company that provides top quality plumbing services at an affordable rate.
      We also provide plumbing supplies at negotiable prices.
    </p>
    <p>
      Our plumbers are kind friendly and efficient they'll fix your pipes in a
      jiffey. So call us now and we'll be their soon. seevices and supplies just
      for you
    </p>
    <button>Read More</button>
  </div>
  <div class="image">
    <img src="/assets/images/plumber.jpg" alt="" />
    <p>Employee of the year at Trinity</p>
  </div>
</div>

<h2 class="services-heading">Our Services</h2>
<div class="services">
  <div class="service-content">
    <h2>Featured Services</h2>
    <p>
      Trinity plumbing and supplies provides top quality services at affordable
      rates
    </p>
    <p>
      Our Staff works quick and efficiently at fixing and maintaining your
      plumbing
    </p>
    <button>View More</button>
  </div>
  <div class="service-con">
    <div class="service-imgs">
      <div class="slide-up four col">
        <div class="box">
          <img src="/assets/images/fire.jpg" alt="" />
          <div class="overlay">
            <h2>Corporate Fire Systems</h2>
            <p>
              provide early notification to building occupants so they can exit
              the building, and to notify the fire service so it can respond to
              the fire.
            </p>
            <button class="service-btn">book Service</button>
          </div>
        </div>
      </div>
    </div>

    <div class="service-imgs">
      <div class="slide-up four col">
        <div class="box">
          <img src="/assets/images/tank.jpg" alt="" />
          <div class="overlay">
            <h2>Corporate Fire Systems</h2>
            <p>
              provide early notification to building occupants so they can exit
              the building, and to notify the fire service so it can respond to
              the fire.
            </p>
            <button class="service-btn">book Service</button>
          </div>
        </div>
      </div>
    </div>
    <div class="service-imgs">
      <div class="slide-up four col">
        <div class="box">
          <img src="/assets/images/pool.jpg" alt="" />
          <div class="overlay">
            <h2>Pool Servicing</h2>
            <p>
              provide early notification to building occupants so they can exit
              the building, and to notify the fire service so it can respond to
              the fire.
            </p>
            <button class="service-btn">book Service</button>
          </div>
        </div>
      </div>
    </div>
    <div class="service-imgs">
      <div class="slide-up four col">
        <div class="box">
          <img src="/assets/images/plumb.jpg" alt="" />
          <div class="overlay">
            <h2>Corporate Fire Systems</h2>
            <p>The methods used for plumbing installation are as numerous and unique as each home, office or building that requires plumbing repair and services.</p>

            <button class="service-btn">book Service</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="heading">
  <h1 class="half-underline">Top Products</h1>
</div>

<div class="showcase">
  <div class="travel-card">
    <div class="image">
      <img src="/assets/images/saw.jpg" />
    </div>
    <div class="content">
      <label class="category">Hack Saw</label>
      <h1 class="topic">
        a fine-tooth saw with a blade under tension in a frame that is used for
        cutting hard materials.
      </h1>
      <div class="recommendation">
        <div class="score">
          <span>4.5</span>
          <i class="material-icons"> <i class="fas fa-star"></i></i>
        </div>
        <div class="comment"></div>
      </div>
      <div class="price">
        <div class="discount-info">save up to 30% off</div>
        <div class="original-price">$12,0000</div>
      </div>
      <div class="btn">
        <button type="submit" class="prolink">Add to Cart</button>
      </div>
    </div>
  </div>

  <div class="travel-card">
    <div class="image">
      <img src="/assets/images/wrench.jpg" />
    </div>
    <div class="content">
      <label class="category">Hack Saw</label>
      <h1 class="topic">
        a fine-tooth saw with a blade under tension in a frame that is used for
        cutting hard materials.
      </h1>
      <div class="recommendation">
        <div class="score">
          <span>4.5</span>
          <i class="material-icons"> <i class="fas fa-star"></i></i>
        </div>
        <div class="comment"></div>
      </div>
      <div class="price">
        <div class="discount-info">save up to 30% off</div>
        <div class="original-price">$12,0000</div>
      </div>
      <div class="btn">
        <button type="submit" class="prolink">Add to Cart</button>
      </div>
    </div>
  </div>
  <div class="travel-card">
    <div class="image">
      <img src="/assets/images/plunge.jpg" />
    </div>
    <div class="content">
      <label class="category">Hack Saw</label>
      <h1 class="topic">
        a fine-tooth saw with a blade under tension in a frame that is used for
        cutting hard materials.
      </h1>
      <div class="recommendation">
        <div class="score">
          <span>4.5</span>
          <i class="material-icons"> <i class="fas fa-star"></i></i>
        </div>
        <div class="comment"></div>
      </div>
      <div class="price">
        <div class="discount-info">save up to 30% off</div>
        <div class="original-price">$12,0000</div>
      </div>
      <div class="btn">
        <button type="submit" class="prolink">Add to Cart</button>
      </div>
    </div>
  </div>
</div>
<button class="more-btn">View More</button>

<h2 class="contactus">Contact US</h2>

<div class="message-card">
  <div class="message-form">
    <div class="detail">
      <div class="content">
        <h1>Trinity Plumbing</h1>
        <span> <mat-icon>location_on</mat-icon>123 havendale cresent </span>
        <span> <mat-icon>mail</mat-icon>Trinity@gmail.com </span>
        <span> <mat-icon>phone</mat-icon>(876) 842-7815 </span>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fas fa-envelope"></i>
      </div>
      <div class="message-image">
        <img src="../assets/images/contactus.jpg" alt="" />
      </div>
    </div>
    <!-- Contact Form -->
    <div class="contact-form">
      <form
        (ngSubmit)="onContactFormSubmit(contactForm.value)"
        [formGroup]="contactForm"
      >
        <h2>Send us your feedback - We Value your opinion</h2>
        <div>
          <!-- First Name -->
          <input
            formControlName="firstName"
            type="text"
            placeholder="Firstname"
          />

          <!-- Last Name -->
          <input
            formControlName="lastName"
            type="text"
            placeholder="Lastname"
          />
        </div>

        <div>
          <!-- Email -->
          <input formControlName="email" type="text" placeholder="E-mail" />

          <!-- Phone Number -->
          <input formControlName="phoneNumber" type="tel" placeholder="Phone" />
        </div>

        <div>
          <!-- Subject -->
          <input
            formControlName="subject"
            type="text"
            class="subject"
            placeholder="Subject"
          />
        </div>

        <!-- Message -->
        <label for="">Message</label>
        <textarea
          formControlName="message"
          name=""
          id=""
          cols="73"
          rows="6"
        ></textarea>

        <button mat-button>
          Send
          <mat-icon>send</mat-icon>
        </button>
      </form>
    </div>
  </div>
</div>
