<section>
  <div class="card">
    <div class="top-actions">
      <img src="/assets/images/icons8-more-30.png" alt="" />
    </div>
    <div class="content">
      <img src="/assets/images/icons8-community-64.png" alt="" />
      <div class="details">
        <h3 class="title">12,000</h3>
        <p class="subtitle">Total Customer</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="top-actions">
      <img src="../../../../assets/images/icons8-more-30.png" alt="" />
    </div>
    <div class="content">
      <img src="../../../../assets/images/icons8-plumber-48.png" alt="" />
      <div class="details">
        <h3 class="title">20,000</h3>
        <p class="subtitle">Available Plumbers</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="top-actions">
      <img src="../../../../assets/images/icons8-more-30.png" alt="" />
    </div>
    <div class="content">
      <img src="../../../../assets/images/icons8-select-users-40.png" alt="" />
      <div class="details">
        <h3 class="title">12,000</h3>
        <p class="subtitle">Total Customer</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="top-actions">
      <img src="../../../../assets/images/icons8-more-30.png" alt="" />
    </div>
    <div class="content">
      <img src="../../../../assets/images/icons8-services-40.png" alt="" />
      <div class="details">
        <h3 class="title">4</h3>
        <p class="subtitle">Services</p>
      </div>
    </div>
  </div>
</section>

<section class="table-section">
  <app-admin-table></app-admin-table>
  <!-- <table class="table">
    <thead class="thead">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Telephone</th>
      <th>Plumber</th>
      <th>Issues</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr>
        <td>Roshane</td>
        <td>Johnson</td>
        <td>+1 (876) 456-7890</td>
        <td>Jane Doe</td>
        <td>0</td>
        <td>Edit | Delete</td>
      </tr>
    </tbody>
  </table> -->
</section>
